[user]
    name = Azat S.
    email = to@azat.io
    signingkey = 95BAB47F88B737D9FEE64AB411939BFCC8B51ED7

[color]
    diff   = auto
    status = auto
    branch = auto

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[color "branch"]
    current = green bold
    remote = yellow bold

[color "diff"]
    commit = green
    frag = cyan
    old = red bold
    new = green bold
    whitespace = red reverse

[diff]
    compactionHeuristic = true

[alias]
    aa = "!git add . && git status"
    am = commit --amend --no-edit
    bd = branch -D
    cm = commit -m
    co = checkout master
    df = diff --color --color-words --abbrev --word-diff
    fo = fetch origin
    it = "!git init && git commit -m \"Root\" --allow-empty"
    lg = log --color --graph --pretty=format:'%C(yellow bold)%h%C(reset) -%C(yellow)%d%C(7) %s %C(green bold)(%cr) %C(white bold)[%an]%Creset' --abbrev-commit
    pl = pull origin HEAD
    ph = push origin HEAD
    rh = reset --hard
    st = status
    un = reset --soft HEAD^
[core]
    editor = vim
