[user]
    name = Azat S.
    email = to@azat.io
    signingkey = 95BAB47F88B737D9FEE64AB411939BFCC8B51ED7

[color]
    diff   = auto
    status = auto
    branch = auto

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[color "branch"]
    current = green bold
    remote = yellow bold

[alias]
    aa = "!git add . && git status"
    cm = commit -m
    st = status
    pl = "!git pull origin $(git current-branch)"
    ph = "!git push origin $(git current-branch)"
    lg = log --color --graph --pretty=format:'%C(yellow bold)%h%C(reset) -%C(yellow)%d%C(7) %s %C(green bold)(%cr) %C(white bold)[%an]%Creset' --abbrev-commit

