"*":
  "atom-beautify":
    general:
      _analyticsUserId: "c51cc801-79f4-46b5-8c74-be4c5a01667c"
  "atom-material-ui":
    colors:
      abaseColor: "#7e7e7e"
      predefinedColor: "Grey"
    tabs: {}
    treeView: {}
    ui:
      panelContrast: true
      panelShadows: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "gruvbox"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "1032e7de-7aea-e395-474a-1ae4d35b013f"
  "file-icons":
    coloured: false
  "language-babel": {}
  "seti-ui":
    fileIcons: false
    font: "Default Atom Font"
    themeColor: "Green"
  welcome:
    showOnStartup: false
